{% extends 'base.html' %} {% load static %} {%block content %}
<br>
<style>
    .container .display-4 {
        font-weight: bold;
        font-size: 40px;
    }
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid green;
        margin: 1em 0;
        padding: 0;
    }
</style>
<div class="container">
    <div class="display-4">
        Agendamentos
    </div>
    <hr class="blue-gradient accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 320px;">
</div>
<br>
<div class="container">
    <form>

    </form>
</div>
{% endblock %}