{% extends 'base.html' %} {% load static %} {%block content %}
<br>
<style>
    .container .display-4 {
        font-weight: bold;
        font-size: 40px;
    }
</style>
<div class="container">
    <div class="display-4">
        Quem sou eu?
    </div>
    <hr class="text-primary accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 320px;">

</div>
<br>
<div class="container">
    <h4>Gustavo Burguer</h4>
    <img src="{% static 'images/background-img.webp' %}" class="img-thumbnail" alt="Gustavo Burger">

    <div class="float-right">
        <h4 style="text-align: right;">Sobre Mim</h4>
        <p>
            kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa<br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
            <br> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaa
        </p>
    </div>
</div>
<br>
<br>
<div class="container ">
    <h4 style="text-align: center; ">
        Certificados
    </h4>

    <div class="card-deck ">
        <div class="card ">
            <img class="card-img-top " src="{% static 'images/background-img.webp' %} " alt="Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">Certificado A</h5>
            </div>
        </div>
        <div class="card ">
            <img class="card-img-top " src="{% static 'images/background-img.webp' %} " alt="Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">Certificado B</h5>
            </div>
        </div>
        <div class="card ">
            <img class="card-img-top " src="{% static 'images/background-img.webp' %} " alt="Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">Certificado C</h5>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="page-footer font-small unique-color-dark ">
    <div style="background-color: #1c2331; ">
        <div class="container ">
            <div class="row py-4 d-flex align-items-center ">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 ">
                    <h6 style="color: white; font-family: monospace; " class="mb-0 ">© Copyright 2018-2020 ReverentBarber&Tattoo
                    </h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right ">
                    <a class="fb-ic ">
                        <a style="color: white; " href=" "><i class="fab fa-facebook-f white-text mr-4 "> </i></a>
                    </a>
                    <a class="li-ic ">
                        <a style="color: white; " href=" "><i class="fab fa-linkedin-in white-text mr-4 "> </i></a>
                    </a>
                    <a class="ins-ic ">
                        <a style="color: white; " href=" "><i class="fab fa-instagram white-text "> </i></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}